body {
    margin: 50 50 50 50;
}

img {
    width: 850px;
    height: 450px;
}

.one {
    font-size: 150%;
    font-family: arial;
    font-weight: bold;
    line-height: 80px;
}

.two {
    font-size: 75%;
    font-family: Arial;
    font-weight: lighter;
    line-height: 20px;
}

.three {
    font-size: 150%;
    font-family: arial;
    font-weight: bold;
    line-height: 80px;
}

.four {
    font-size: 75%;
    font-family: Arial;
    font-weight: lighter;
    line-height: 20px;
}

.five {
    font-size: 150%;
    font-family: arial;
    font-weight: bold;
    line-height: 80px;
}

.six {
    font-size: 75%;
    font-family: Arial;
    font-weight: lighter;
    line-height: 20px;
}

.seven {
    color: white;
    background-color: rgb(92, 92, 92);
    font-family: arial;
    font-size: 85%;
    letter-spacing: 1px;
    line-height: 20px;
    max-width: 60px;
    text-align: center;
    font-weight: lighter;
    height: 25px;
}

.column {
    float: left;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 324px;
}

.row {
    content: "";
    display: table;
    clear: both;
    margin-top: 25px;
    background-color: rgb(218, 216, 216);
}

.first {
    margin-left: 50px;
}

.third {
    margin-right: 20px;
}